.LoyalClients {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: rgb(245, 245, 245);
  padding: 48px 16px;
}

.LoyalClients font {
  color: #000;
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
}

@media (min-width: 600px) {
  .LoyalClients font {
    font-size: 2rem;
    line-height: 65px;
  }
}
